[Unit]
Description=Airflow scheduler daemon
After=network.target

[Service]
Environment=AIRFLOW_HOME={{ airflow_home }}
Environment=AIRFLOW_CONFIG={{ airflow_home }}/airflow.cfg
User={{ airflow_user }}
Group={{ airflow_user }}
Type=simple
ExecStart=/bin/bash -c 'PATH=/opt/spark/bin:/opt/embulk/bin:$PATH exec /usr/local/bin/airflow scheduler'
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target