[Unit]
Description=Zeppelin daemon
After=syslog.target network.target

[Service]
Environment=ZEPPELIN_HOME={{ zeppelin_home }}
User={{ zeppelin_user }}
Group={{ zeppelin_user }}
Type=simple
ExecStart={{ zeppelin_home }}/bin/zeppelin-daemon.sh upstart
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
