[Unit]
Description=Superset daemon
After=network.target

[Service]
Environment=SUPERSET_CONFIG_PATH={{ superset_home }}/superset_config.py
Type=simple
ExecStart=/usr/local/bin/superset runserver

[Install]
WantedBy=multi-user.target
