[Unit]
Description=Apache Spark Thrift Server
After=network.target network-online.target

[Service]
User={{ spark_user }}
Type=forking
ExecStart={{ spark_home }}/sbin/start-thriftserver.sh --name 'ThriftServer' --driver-cores 4 --driver-memory 7G --total-executor-cores 4 --executor-memory 16G --conf spark.scheduler.pool=production
ExecStop={{ spark_home }}/sbin/stop-thriftserver.sh

[Install]
WantedBy=multi-user.target